@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}

.card {
  background-color: hsla(291, 85%, 25%, 1);
  background-image: radial-gradient(
      at 28% 78%,
      hsla(280, 88%, 24%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 95% 79%, hsla(262, 96%, 12%, 1) 0px, transparent 50%);
}
.loader {
  position: relative;
}

.loader span {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px rgb(0, 57, 244);
}

.loader span:nth-child(2) {
  color: rgb(0, 4, 255);
  -webkit-text-stroke: 1px rgb(17, 0, 255);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
