@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}

.card {
  background-color: hsla(291, 85%, 25%, 1);
  background-image: radial-gradient(
      at 28% 78%,
      hsla(280, 88%, 24%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 95% 79%, hsla(262, 96%, 12%, 1) 0px, transparent 50%);
}
